.App {
  text-align: center;
  color: #c7c7c7;
}

.heading-font-portfolio {
  font-family: "Bebas Neue", sans-serif;
  color: #c7c7c7;
  font-weight: 400;
  font-style: normal;
}

.sub-font-portfolio {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
